body {
    padding:0;
    margin:0;
    font-size: 18px;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
*{
    box-sizing: border-box;
}


#container {
    margin:0;
    display: flex;
    flex-direction: column;

}
.header, .hero, .information, .quote, .call{
    padding:0 140px;
}

/*Header*/
.header {
    background-color: #1F2937;
    color:#E5E7EB;
    display:flex;
    align-items:center;
    padding-bottom:0;
    margin-bottom:0;
}
.header h3 {
    font-size:24px;
    color:#F9FAF8;
    flex-shrink: 0;
}

ul {
    margin:0 0 0 auto;
    padding:0;
    padding-left:1em;
    display:flex;
    list-style:none;
    text-align: right;
}

a {
    text-decoration: none;
    color:#E5E7EB
}

.header li {
    width:150px;
}


/*
----
Hero
----
*/

.hero {
    background-color: #1F2937;
    color:#E5E7EB;
    display: flex;
    align-items:center;
    padding:3em 140px;
}

.hero h1 {
    font-size:48px;
    font-weight:bolder;
    color:#F9FAF8;

}

.herocontent {
    padding:0 2em 0 0;
    width:500px;
}

.heroimage{
    margin-left:auto;
    align-self:center;

}

button {
    background-color:#3882F6;
    border:rgba(255, 255, 255, 0) solid 1px;
    color:#E5E7EB;
    padding:0.5em 2em;
    border-radius: 8px;
    cursor:pointer;
    
}

button:hover{
    border:#E5E7EB solid 1px;
}

img {
    border:#E5E7EB 1px solid;
    width:430px;
    height:240px;
}

/*Information*/
.information {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cardbox {
    display: flex;
    font-size:18px;
    text-align: center;
    gap:3em;
}

.card {
    display: flex;
    flex-direction: column;
}

.cardphoto {
    border:#3882F6 solid 4px;
    border-radius:10px;
    height:150px;
    width: 150px;

}

.card p {
    width:150px;
}

/*Quote*/

.quotebackground {
    background-color: #E5E7EB;
    display:flex;
    justify-content: center;
}

.quotebox {
    display: flex;
    flex-direction: column;
    align-self:center;
    padding:3em 0 2.5em;

    width: 800px;
}

.quote-end {
    align-self:flex-end;
    font-weight: bold;
    padding-right:7.9em;
    margin-top:-1em;
}

/*Call to action*/

.call {
    background-color: #3882F6;
    border-radius:5px;
    width:70vw;
    align-self:center;
    margin: 5em;
    display: flex;
    gap:5em;
    padding:1em 4em;
    align-items: center;
    color:#E5E7EB

}
.call h3 {
    color:#F9FAF8;
    padding-bottom:0;
    margin-bottom:0;
}
.callwords p {
    margin-top:0;
}

.call button {
    border:1px white solid;
    width:200px;
    height:3em;

    text-align:center;
}
.call button:hover {
    border:1px solid rgb(205, 238, 255);
}

/*Footer*/

footer {
    background-color: #1F2937;
    text-align: center;
    font-size: 18px;
    color:#E5E7EB;
    padding:2.5em
}